body {
    margin: 0;
    padding: 0;
    /*  TODO Удалить. Бэк - временный*/
    background-color: #97aca0;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    font-family: "Roboto", "Arial", sans-serif;
    line-height: 22px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/**
 * GLOBAL STYLES
 */

.main-container {
    margin: 0 auto;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    min-height: 2449px;
    width: 1200px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

.button {
    display: inline-flex;
    border: 0;
    color: #ffffff;
}

.special-button {
    overflow: visible;
    padding: 0;
    border-image-width: 0;
    background: none;
    line-height: normal;
    cursor: pointer;
}

.active-button,
.form-button {
    background-color: rgb(231, 74, 53);
    background-image: linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.form-button {
    border-radius: 18px/22px;
}

.active-button:hover,
.form-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
    box-shadow: 0 2px 2px #ac1000;
}

.active-button:active,
.form-button:active {
    background-color: rgba(0, 0, 0, 0.07);
    background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
    box-shadow: inset 0 2px 2px #942718;
}

.active-input {
    padding: 10px 15px;
    border-width: 0;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    flex-grow: 1;
}

.active-input:hover {
    outline-style: none;
    box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.active-input:hover:focus {
    outline-style: none;
    box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.active-input:focus {
    outline-style: none;
    box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.active-input::placeholder {
    color: #999999;
    font-weight: 400;
}

.active-link {
    display: inline;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: inherit;
}

.active-link:hover,
.active-link:active,
.active-link:focus {
    border-bottom: 1px solid rgba(255, 188, 158, 0.3);
    color: #ffbc9e;
}

.active-form-link {
    display: inline;
    border-bottom: 1px solid rgba(50, 50, 50, 0.3);
    color: #323232;
    text-decoration: none;
}

.active-form-link:hover,
.active-form-link:active,
.active-form-link:focus {
    border-bottom: 1px solid rgba(232, 77, 55, 0.3);
    color: #e84d37;
}

.pop-up form {
    width: inherit;
    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

/*-------------------------------------------------------------------------------*/

/**
 * HEADER
 */
.page-header {
    display: flex;

    flex-flow: column;
}

.header-button {
    border-radius: 17px;
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    align-items: center;
    justify-content: center;
}

.catalog:hover .catalog-submenu,
.catalog:focus-within .catalog-submenu,
.action-item:hover .pop-up,
.action-item:focus-within .pop-up {
    display: flex;
    flex-direction: row;

    align-items: stretch;
}

.page-header-logo {
    padding-right: 25px;
}

.main-navigation {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.main-navigation-item {
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
}

.main-navigation-item:nth-child(2) {
    padding-left: 10px;
}

.main-navigation-item:after {
    display: block;
    margin: 0;
    width: inherit;
    height: 1px;
    background-color: #d1d0ce;
    content: " ";
}

.main-navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    width: 400px;
    list-style: none;
    font-weight: 700;
    font-size: 16px;

    justify-content: flex-start;
}

.main-navigation-link {
    color: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}

.catalog {
    position: relative;
    padding: 10px 14px;
}

.catalog:hover:after {
    display: none;
}

.catalog:hover {
    border-radius: 17px;
    background-color: #f7f6f3;
}

.catalog:active {
    background-color: #ededed;
    box-shadow: inset 0 2px 1px #696969;
}

.catalog:hover a {
    color: #323232;
}

.catalog-submenu {
    position: absolute;
    left: -7px;
    z-index: 1;
    display: none;
    width: 143px;
    font-weight: 400;
    font-size: 14px;
}

.submenu-new-item {
    font-weight: 700;
}

.catalog-submenu-item {
    display: block;
    margin-bottom: 2px;
    padding: 0;
    height: 28px;
    list-style: none;
}

.catalog-submenu-item a {
    display: block;
    width: inherit;
    height: inherit;
    color: inherit;
    text-align: center;
    line-height: 28px;
}

.catalog-submenu-item a:hover {
    background-color: #fbded7;
    color: #323232;
}

.catalog-submenu-item a:active {
    background-color: #f6b5a5;
    color: #323232;
}

.catalog-submenu-list {
    margin-top: 20px;
    padding: 0;
    width: inherit;
    height: inherit;
    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.catalog-submenu-list > :nth-child(1) {
    margin-top: 5px;
    margin-bottom: 10px;
}

.catalog-submenu-list > :nth-child(1)::after {
    display: block;
    margin: 5px 9px 5px 6px;
    width: 128px;
    height: 1px;
    background-color: #d1d0ce;
    content: " ";
}

.header-search {
    position: absolute;
    top: 33px;
    right: 0;
    z-index: 1;
    display: none;
    margin-top: 5px;
    width: 341px;
}

.header-search-form {
    display: flex;
    flex-direction: row;
    padding: 15px 20px;

    align-items: stretch;
    flex-grow: 1;
}

.header-search-input {}

.user-actions {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    width: 245px;

    justify-content: space-between;
}

.action-item {
    position: relative;
}

.page-header-search {
    width: 33px;
    height: 33px;
}

.page-header-login {
    width: 93px;
    height: 33px;
}

.page-header-cart {
    width: 100px;
    height: 33px;
}

.user-login {
    position: absolute;
    top: 33px;
    right: 0;
    z-index: 1;
    display: none;
    padding-top: 5px;
    width: 277px;
    background-color: rgba(255, 255, 255, 0);
}

.user-login-link {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}

.customer-login {
    display: flex;
    padding: 20px 17px 22px 19px;

    flex-flow: row wrap;
}

.customer-login input {
    margin-bottom: 20px;
}

.login-special-link {
    display: flex;
    margin-left: 20px;
    color: #323232;
    text-decoration: underline;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;

    flex-flow: column;
}

.cart-items {
    border-spacing: 0;
    border-collapse: collapse;
}

.cart-menu {
    position: absolute;
    top: 33px;
    right: 0;
    z-index: 1;
    display: none;
    width: 540px;
    background: rgba(255, 255, 255, 0)
}

.cart-content {
    display: flex;
    margin-top: 4px;
    padding: 10px 20px 15px;
    width: 500px;
    color: #323232;

    flex-flow: column wrap;
}


.cart-item {
    list-style: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.cart-column-action {
    padding: 10px 5px;
    width: 25px;
}

.button-delete {
    color: inherit;
    font-weight: 700;
    font-size: 24px;
    font-family: "Times New Roman";
}

.cart-column-image {
    padding: 10px 5px;
    width: 45px;
}

.cart-item-image {
    display: block;
    border-radius: 50%;
}

.cart-column-description {
    padding: 10px 5px;
    width: 250px;
}

.cart-column-summary {
    padding: 10px 5px;
    width: 122px;
}

.cart-item-multiplied,
.cart-item-cost,
.cart-item-currency {
    color: #999999;
}

.cart-column-subtotal {
    padding: 10px 10px;
    width: 78px;
}

.cart-item:last-child td {
    padding-bottom: 25px;
}

.cart-items tfoot {
    border-top: 1px solid #d1d0ce;
}

.cart-summary {
    padding-top: 17px;
    text-align: right;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

.send-order-button {
    margin-top: 17px;
    padding: 10px 14px 10px 14px;

    align-self: flex-end;
}

.page-header-contact {
    display: flex;

    flex-flow: column;
    align-self: flex-end;
}

.page-header-contact > p {
    display: flex;

    flex-flow: column;
    align-items: flex-end;
}

.contact-hours {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.contact-phone {
    margin-top: 6px;
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
}


/*-------------------------------------------------------------------------------*/


.slider-button-buy {
    padding: 13px 41px 13px 41px;
    border-radius: 32px;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
}

/*-------------------------------------------------------------------------------*/

/**
 * SPECIAL OFFER
 */

.special-offer {
    display: flex;
    margin-bottom: 35px;

    flex-flow: row nowrap;
    justify-content: space-between;
}


.banner {
    display: flex;
    padding: 16px 20px 20px 20px;
    min-height: 229px;
    width: 560px;
    border-radius: 15px;
    background-clip: border-box;
    background-origin: border-box;

    flex-flow: column nowrap;
}

.special-offer-left {
    background: #7e020b url("../img/raspberry.jpg") no-repeat center top;
}

.special-offer-right {
    background: #7e020b url("../img/chocolate.jpg") no-repeat center top;
}

.special-offer-header {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
}

.special-offer-header + p {
    margin: 20px 0 0 0;
    padding: 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.promo-special-button {
    margin-top: 45px;
    padding: 10px 22px 10px 22px;
    border-radius: 22px;

    align-self: flex-end;
}

/*----------------------------------------------------------------*/

/**
 * POPULAR-PRODUCT AND PRODUCT CATALOG
 */

.popular-product,
.product-catalog {
    display: flex;
    margin-bottom: 35px;

    flex-flow: row nowrap;
}

.popular-product-list,
.product-catalog-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    flex-flow: row wrap;
    justify-content: space-between;
}

.product-item {
    position: relative;
    display: flex;
    padding-top: 5px;
    min-height: 405px;
    width: 287px;

    flex-flow: row wrap;
    justify-content: center;
}


.product-item > img {
    border-radius: 50%;

    -webkit-clip-path: circle(20% at 50% 50%);
    clip-path: circle(80% at 50% 50%);
}

.popular-product-item:before {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    background-color: red;
    background-image: url(../img/hit-bage.jpg);
    content: " ";
}

.product-item:hover:after {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: inherit;
    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    content: " ";
    opacity: 0.2;
}

.product-item:hover .fast-inspect-button {
    visibility: visible;
}

.product-item-summary {
    text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
}

.product-item-price {
    margin-right: 4px;
}

.product-item-weight {
    text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
    font-size: 30px;
}


.product-item-summary {
    position: absolute;
    top: 220px;
    left: 13px;
    display: flex;
    margin: 0;

    flex-flow: row wrap;
    align-items: baseline;
    justify-content: center;
}

.product-item-description {
    margin: 0;
    margin-top: 15px;
    width: 267px;
    color: inherit;
    text-align: center font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.fast-inspect-button {
    visibility: hidden;
    margin-top: 15px;
    margin-bottom: 22px;
    padding: 10px 17px 10px 17px;
    border-radius: 21px;
    color: #fefefe;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    align-self: flex-end;
}

/*-------------------------------------------------------------------------------*/

/**
 * ADVANTAGES
 * TODO Внутренняя сетка оформлена прикидочно.
 */

.advantages {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 1145px;
    border-radius: 20px;
    background: #f9dfae url("../img/waffle.jpg") repeat-x;

    flex-flow: column;
}

.advantages-description-list > :nth-child(1)::before {
    content: url("../img/icecream-icon.svg");
}

.advantages-description-list > :nth-child(2)::before {
    content: url("../img/cow-icon.svg");
}

.advantages-description-list > :nth-child(3)::before {
    content: url("../img/leaf-icon.svg");
}

.advantages-description-list > :nth-child(4)::before {
    content: url("../img/thermometer-icon.svg");
}

.advantages > p {
    margin: 30px 112px 0 22px;
    color: #323232;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.advantages-description-list {
    display: flex;
    margin: 0 15px;
    padding: 0px;
    padding-bottom: 26px;
    list-style: none;

    flex-flow: row wrap;
}

.advantages-description-list :before {
    display: inline-block;
    float: left;
    padding: 5px;
    width: 49px;
    height: 49px;
}

.advantage-item {
    display: block;
    min-height: 90px;
    width: 550px;
    color: #323232;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.advantage-item > p {
    margin: 20px 0 0 62px;
    width: 476px;
}

/*-------------------------------------------------------------------------------*/

/**
 * COLLABORATION
 */

.collaboration {
    display: flex;

    flex-flow: row nowrap;
    justify-content: space-between;
}

.blog-news {
    display: flex;
    padding: 27px 265px 12px 0;
    padding-left: 20px;
    width: 560px;
    border-radius: 20px;
    background: #ffffff url("../img/blog-news-background.jpg") no-repeat;
    color: #323232;

    flex-flow: column nowrap;
}

.blog-news > h3 {
    margin: 0;
    padding: 0 0 10px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.blog-post-header {
    width: 280px;
    border-bottom-color: #323232;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.blog-post-header span {
    border-bottom-color: #323232;
}

.newsletter {
    position: relative;
    display: flex;
    margin: 5px;
    padding: 31px 21px 32px 21px;
    width: 550px;
    border-radius: 20px;
    background: #ffffff;
    color: #323232;

    flex-flow: column wrap;
}

.newsletter::after {
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    border-radius: 20px;
    background: repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 10px, #92cdff 0, #92cdff 20px, #f8f7f4 0, #f8f7f4 30px, #fe9e90 0, #fe9e90 40px);
    content: " ";
}

.newsletter > p {
    margin: 0;
    padding: 0 0 38px 0;
    color: #5a5a5a;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.newsletter-signup {
    display: flex;

    flex-flow: row nowrap;
}

.newsletter-signup-button {
    margin-left: 10px;
    padding: 10px 20px 10px 20px;
}

/*-------------------------------------------------------------------------------*/

/**
 * LOCATION
 */

.location {
    display: flex;
    margin-top: 40px;
    margin-right: -25px;
    margin-left: -25px;
    min-height: 430px;
    width: 1200px;
    background: #f4edc6 url("../img/address-map.jpg") no-repeat center top;

    flex-flow: row nowrap;
    justify-content: flex-end;
}

.location-contacts {
    display: flex;
    margin-top: 60px;
    margin-right: 27px;
    margin-bottom: 60px;
    padding: 30px 25px;
    width: 302px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #323232;
    line-height: 20px;

    flex-flow: row wrap;
}

.location-address {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.location-phone {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #323232;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.location-feedback-button {
    margin-top: 25px;
    padding: 10px 27px 10px 27px;
}

/*-------------------------------------------------------------------------------*/

/**
 * FOOTER
 */

.main-footer {
    display: flex;
    padding-top: 18px;
    padding-bottom: 20px;

    flex-flow: row wrap;
    justify-content: space-between;
}

.footer-social-list {
    display: flex;
    margin: 0;
    padding: 0;
    width: 268px;
    list-style: none;

    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center
}

.footer-social-item {
    position: relative;
    display: flex;
    margin-right: 15px;
    color: #ffffff;
    font-weight: 400;
    font-size: 13px;
    line-height: 0;

    flex-flow: row wrap;
}


.footer-social-link {
    fill: rgba(230, 235, 233, 0.8);
}


.footer-social-link:hover,
.footer-social-link:focus {
    fill: #ffffff;
}

.footer-social-link:active {
    fill: #e9e9e9;
}


.footer-social-item:after {
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: -1;
    border: 2px;
    border: 2px solid rgba(194, 206, 199, 0.5);
    border-radius: 50%;
    content: " ";
}


.footer-social-item:hover:after,
.footer-social-item:focus:after {
    border: 2px solid rgba(218, 226, 221, 0.7);
}

.footer-social-item:active:after {
    border: 2px solid rgba(218, 226, 221, 0.7);
}


.footer-social-link {
    display: block;
    color: inherit;
}

.footer-link-list {
    display: flex;
    margin: 0;
    padding: 5px;
    width: 400px;
    list-style: none;
    font-size: 13px;
    line-height: 18px;

    flex-flow: row wrap;
}

.footer-link-item {
    min-width: 143px;
}

.for-supplier-link {
    position: relative;
    font-weight: 700;
}

.for-supplier-link:before {
    position: absolute;
    left: -20px;
    content: "\2764";
    font-weight: 700;
    font-size: 15px;
}

.footer-site-developers {
    display: flex;
    color: #fefefe;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    flex-flow: column nowrap;
    align-self: flex-end;
}

.html-academy-link {
    color: inherit;
}

/*-------------------------------------------------------------------------------*/


/**
 * TODO Неразобранное
 */

.login-button,
.feedback-send-button {
    padding: 10px 25px 10px 25px;
}

.product-search-filter,
.product-search-filter input {
    color: #ffffff;
    font-weight: 400;
    line-height: 18px;
}

.price-value {
    margin: 0;
    padding: 0;
    width: 30px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0);

    -moz-appearance: textfield;
}

.price-value::-webkit-inner-spin-button,
.price-value::-webkit-outer-spin-button,
.price-value:hover,
.price-value:focus {
    margin: 0;

    -webkit-appearance: none;
    -moz-appearance: number-input;
}

.price-range-container {
    display: flex;
    width: 220px;
    height: 37px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.2);

    align-items: center;
    justify-content: center;
}

.range-slider {
    position: relative;
    margin: 0;
    padding: 0;
    width: 176px;
    height: 4px;
    border: 0;
    background-color: rgba(248, 247, 244, 0.50);
}

.range-button {
    position: absolute;
    top: -8px;
    z-index: 100;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    border: 8px solid #ffffff;
    border-radius: 50%;
    font-size: 0;
    cursor: pointer;
}

.range-button-left {
    left: 15px;
}

.range-button-right {
    right: 59px;
}

.range-slider-fill {
    position: absolute;
    right: 59px;
    left: 23px;
    display: block;
    margin: 0;
    padding: 0;
    height: 4px;
    background-color: #f8f7f4;
}

.search-filter-button {
    padding: 10px 30px 10px 30px;
    border: 2px solid #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    opacity: 0.2;
}

/*-------------------------------------------------------------------------------*/


/**
 * MODAL
 */

.customer-feedback {
    position: relative;
    display: flex;
    width: 478px;
    border-radius: 10px;
    background-color: #f8f7f4;

    flex-flow: column wrap;
}

.customer-feedback-form {
    display: flex;
    flex-direction: column;
    margin: 20px 25px;
    padding: 0;

    flex-flow: column;
}

.customer-feedback p {
    margin: 20px 40px 5px 25px;
    color: #323232;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.customer-feedback input {
    margin: 0 162px 20px 0;
}

.customer-feedback textarea {
    margin: 0 0 25px 0;
    resize: none;
}

.modal-close-button {
    position: absolute;
    top: 17px;
    right: 17px;
    color: #323232;
    font-weight: 700;
    font-size: 35px;
    font-family: "Times New Roman";
    line-height: 50%;
}

.feedback-send-button {
    width: 139px;
    height: 44px;

    align-self: flex-end;
}

/*-------------------------------------------------------------------------------*/

/*Шрифты*/

@font-face {
    font-weight: 400;
    font-family: "Roboto";
    src: url("../font/roboto.woff") format("woff"),
        url("../font/roboto.woff2") format("woff2");
}

@font-face {
    font-weight: 500;
    font-family: "Roboto";
    src: url("../font/robotomedium.woff") format("woff"),
        url("../font/robotomedium.woff2") format("woff2");
}

@font-face {
    font-weight: 700;
    font-family: "Roboto";
    src: url("../font/robotobold.woff") format("woff"),
        url("../font/robotobold.woff.woff2") format("woff2");
}
