body {
    margin: 0 auto;
    width: 1250px;
    height: 2449px;
    background-color: #97aca0;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.button {
    font-family: Roboto;
}

.main-button {
    border-radius: 20px;
    color: #ffffff;
    background-image: linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.special-button {}

.form-button {}

.price-value {
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    margin: 0;
    padding: 0;
    -moz-appearance: textfield;
}

.price-value::-webkit-inner-spin-button,
.price-value::-webkit-outer-spin-button,
.price-value:hover,
.price-value:focus{
    -webkit-appearance: none;
    -moz-appearance: number-input;
    margin: 0;
}


.price-range-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 37px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 18px;
}

.range-slider {
    position: relative;
    width: 176px;
    height: 4px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: rgba(248, 247, 244, 0.50);
}

.range-button {
    position: absolute;
    top: -8px;
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
    font-size: 0;
    border-radius: 50%;
    border: 8px solid #ffffff;
    cursor: pointer;
    z-index: 100;
}

.range-button-left {
    left: 15px;
}

.range-button-right {
    right: 59px;
}

.range-slider-fill {
    display: block;
    position: absolute;
    height: 4px;
    left: 23px;
    right: 59px;
    margin: 0;
    padding: 0;
    background-color: #f8f7f4;
}

.header-button {
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 17px;
    align-items: center;
    justify-content: center;
}

.promo-special-button {
    display: inline-flex;
    padding: 13px 22px 13px 22px;
    border-radius: 22px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}

.main-navigation-list {
    display: inline-flex;
    justify-content: space-between;
    list-style: none;
    width: 350px;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

.catalog:hover .catalog-submenu,
.catalog:focus-within .catalog-submenu {
    display: flex;
}

.main-navigation-item:after {
    display: block;
    height: 1px;
    width: inherit;
    margin: 0;
    content: " ";
    background-color: #d1d0ce;
}

.catalog-submenu {
    display: none;
    position: absolute;
    z-index: 1;
    width: 143px;
    height: 171px;
    align-items: center;
    justify-content: center;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}


.catalog-submenu-list {
    margin: 0;
    padding: 0;
    width: inherit;
    height: inherit;
}

.catalog-submenu-list > :nth-child(1)::after {
    display: block;
    margin: 5px 9px 5px 6px;
    content: " ";
    width: 128px;
    height: 1px;
    background-color: #d1d0ce;
}

.catalog-submenu-list > :nth-child(1) {
    margin-top: 5px;
    margin-bottom: 10px;
}

.catalog-submenu-item {
    display: block;
    height: 28px;
    margin-bottom: 2px;
    padding: 0;
    list-style: none;
}

.catalog-submenu-item a {
    color: #323232;
}

.catalog-submenu-item a:hover {
    color: #323232;
    background-color: #fbded7;
}

.catalog-submenu-item a:active {
    color: #323232;
    background-color: #f6b5a5;
}

.catalog-submenu-item a {
    display: block;
    height: inherit;
    width: inherit;
    text-align: center;
    line-height: 28px;
}


.page-header-search {
    width: 33px;
    height: 33px;
}

.page-header-login {
    width: 93px;
    height: 33px;
}

.page-header-cart {
    width: 100px;
    height: 33px;
}

.banner {
    width: 560px;
    height: 229px;
    border-radius: 15px;
    background-clip: border-box;
    background-origin: border-box;
}

.special-offer-left {
    background: #7e020b url("../img/raspberry.jpg") no-repeat center top;
}

.special-offer-right {
    background: #7e020b url("../img/chocolate.jpg") no-repeat center top;
}

.special-offer-header {
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
}

.special-offer-header + p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.product-item {
    list-style: none;
}

.product-item > img {
    border-radius: 50%;
    -webkit-clip-path: circle(20% at 50% 50%);
    clip-path: circle(80% at 50% 50%);
}

.advantages {
    display: flex;
    width: 1145px;
    height: 305px;
    flex-flow: column;
    flex-direction: column;
    border-radius: 20px;
    background: #f9dfae url("../img/waffle.jpg") repeat-x;
}

.advantages-description-list {
    max-width: 1115px;
    max-height: 215px;
}


.advantages-description-list :before {
    display: inline-block;
    float: left;
    width: 49px;
    height: 49px;
    padding: 5px;
}

.advantages-description-list > :nth-child(1)::before {
    content: url("../img/icecream-icon.svg");
}

.advantages-description-list > :nth-child(2)::before {
    content: url("../img/cow-icon.svg");
}

.advantages-description-list > :nth-child(3)::before {
    content: url("../img/leaf-icon.svg");
}

.advantages-description-list > :nth-child(4)::before {
    content: url("../img/thermometer-icon.svg");
}

.advantages > p {
    margin: 30px 112px 0 22px;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    color: #323232;
}

.advantages-description-list {
    display: inline-flex;
    margin: 0 15px;
    padding: 0px;
    list-style: none;
    flex-flow: row wrap;
    flex-direction: column;
}

.advantage-item {
    width: 550px;
    max-height: 100px;
    min-height: 90px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #323232;
}

.advantage-top {
    margin-top: 5px;
}

.advantage-bottom {
    margin-bottom: 5px;
}

.advantage-item > p {
    max-width: 476px;
    max-height: 80px;
    margin: 20px 0 0 62px;
    overflow: hidden;
}


.location {
    width: 1200px;
    height: 430px;
    background: #f4edc6 url("../img/address-map.jpg") no-repeat center top;
}

.cart-item {
    list-style: none;
}

.customer-feedback {
    width: 478px;
    height: 443px;
    border-radius: 10px;
    background-color: #f8f7f4;
}

.customer-feedback-form {
    display: flex;
    flex-flow: column;
    flex-direction: column;
    margin: 20px 25px;
    padding: 0;
}

.customer-feedback > p {
    display: inline-block;
    margin: 20px 106px 5px 25px;
}

.customer-feedback input {
    margin: 0 187px 20px 0;
}

.customer-feedback textarea {
    margin: 0 0 25px 0;
    border-radius: 10px;
    resize: none;
}

.modal-close-button {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 15px;
    width: 17px;
    height: 17px;
}

.feedback-send-button {
    align-self: flex-end;
    width: 139px;
    height: 44px;
}
